.section-hero {
  background-color: var(--bg);
}

.section-hero-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
}

.hero-top-data {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--helper);
}

.hero-heading {
  text-transform: uppercase;
  font-size: 6.4rem;
  font-weight: 700;
}

.hero-para {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  max-width: 60rem;
}

.section-hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-images {
  max-width: 80%;
}
