.header img {
  margin: 10px;
  width: 30px;
  height: 30px;
}

.navbar {
}

.navbar-lists {
}

.navbar-link {
}

.home-link {
}

.about.link {
}

.services-link {
}

.portfolio-link {
}

.contact-link {
}
