.section-footer{
    background-color: var(--heading);
    transition: all .3s linear;
}


.section-footer h3{
    color: var(--white);
    margin-bottom: 4rem;
}

.f-about p{
    color: #adadad;
}

.f-links ul,.f-services ul,.f-address address{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    justify-content: center;
}

.f-links li,.f-links a,.f-services li,.f-services a{
    font-size: 1.8rem;
    color: #adadad;
    text-transform: capitalize;
}

.f-links span,.f-services span,.f-address span{
    margin-right: 1rem;
}

.f-address p,.f-address p a{
    color: #adadad;
    font-style: normal;
}

.f-social-icons{
    text-align: center;
    color: #adadad;
    margin: 5rem 0;
}

.f-social-icons ion-icon{
    width: 4rem;
    height: 4rem;
    background-color: var(--icon-bg);
    display: inline-block;
    padding: 1.4rem 1.8rem;
    position: relative;
    color: var(--white);
    animation: water-wave 3s linear infinite;
}

@keyframes water-wave{
    0%{
        border-radius:56% 44% 70% 30% / 30% 54% 46% 70% ;
    }
    50%{
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%  ;
    }
    100%{
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }

}

.f-credit p{
    text-align: center;
    color: #adadad;
}

.section-footer a:hover,.section-footer a:active{
    color: var(--white);
}